#First {
    color: aqua;
    font-size: 35px ;
    font: 50;
}
.line2 {
    color :rgb(68, 97, 122);
    font-size: 25px ;
    font : 400;
}
.button {
    
        padding: 10px 20px;
        background-color: rgb(74, 129, 230);
        color: white;
        text-decoration: none; /* Bỏ gạch chân */
        border-radius: 30px 25px ;
        font-size: 20px;
        display: inline-block; /* Đảm bảo rằng thẻ <a> hiển thị dưới dạng block */
        margin: 5px 0; /* Thêm khoảng cách giữa các nút */
    } 
    .button:hover {
        background-color: rgb(3, 3, 3);
}
.LocketB {
    padding : 10px 20px;
    background-color : rgb(231, 228, 25);
    color : white;
    text-decoration : none;
    border-radius : 30px 25px;
    font-size : 20px;
    display : inline-block;
    margin : 5px 0;
}
.NGLL {
    padding : 10px 20px;
    background-color: rgb(118, 26, 146);
    color : white;
    text-decoration: none;
    border-radius : 30px 25px;
    font-size : 20px;
    display : inline-block;
    margin : 5px 0;
}
.LL {
    padding : 10px 20px;
    background-color :rgb(0, 70, 201);
    color : white;
    text-decoration : none;
    border-radius : 30px 25px;
    font-size : 20px;
    display : inline-block;
    margin : 5px 0;
}
