.box4{
    background-color: rgb(50, 50, 204);
    padding : 20px;
    border : 20px solid #333;

}
.box5{
    background-color: rgb(100, 52, 212);
}
.box6{
    background-color: rgb(226, 43, 226);
}